@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Inter";
  font-style: normal;
  color: #2c2c2c;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

h2 {
  font-size: 33.667px;
  font-weight: 800;
}

.header {
  position: fixed;
  width: 100%;
  background-color: red;
  z-index: 1;
}
.header .wrapper-header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  gap: 20px;
}
.header .wrapper-header .logo a {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .wrapper-header .logo a img {
  height: 80%;
  border-radius: 9px;
}
.header .wrapper-header .wrapper-bar {
  display: none;
}
.header .wrapper-header .search {
  display: flex;
  align-items: center;
  position: relative;
}
.header .wrapper-header .search .search-input {
  width: 400px;
  height: 45px;
  font-size: 1.1rem;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 99px;
}
.header .wrapper-header .search .icon-search {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
}
.header .wrapper-header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .wrapper-header .nav ul {
  display: flex;
  gap: 10px;
}
.header .wrapper-header .nav ul li {
  padding: 5px;
}
.header .wrapper-header .nav ul li a {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
.header .wrapper-header .nav ul li .nav-cart-shopping {
  position: relative;
}
.header .wrapper-header .nav ul li .nav-cart-shopping .single-number {
  padding: 1px 3px 1px 4px;
  background-color: yellow;
  position: absolute;
  left: 15px;
  top: -6px;
  font-size: 0.8rem;
  color: black;
  border-radius: 50%;
  text-align: center;
}
.header .wrapper-header .box-btn-login {
  display: flex;
  align-items: center;
  color: white;
}
.header .wrapper-header .box-btn-login .btn-login {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 6px;
  font-weight: 600;
}
.header .wrapper-header .box-btn-login ul {
  display: none;
}

@media screen and (max-width: 1199.98px) {
  .header .wrapper-header {
    padding: 0 10px;
  }
  .header .wrapper-header .wrapper-bar {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 30px;
    gap: 30px;
  }
  .header .wrapper-header .wrapper-bar a {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header .wrapper-header .wrapper-bar a img {
    height: 80%;
    border-radius: 9px;
  }
  .header .wrapper-header .logo {
    display: none;
  }
  .header .wrapper-header .search .search-input {
    width: 32rem;
  }
  .header .wrapper-header .nav ul {
    gap: 20px;
  }
  .header .wrapper-header .nav ul li a {
    font-size: 1.6rem;
  }
  .header .wrapper-header .nav ul li a .txt-nav {
    display: none;
  }
  .header .wrapper-header .nav ul li .nav-cart-shopping {
    position: relative;
  }
  .header .wrapper-header .nav ul li .nav-cart-shopping .single-number {
    position: absolute;
    left: 23px;
    top: -5px;
  }
  .header .wrapper-header .box-btn-login {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 20px;
  }
  .header .wrapper-header .box-btn-login .btn-login i {
    font-size: 1.5rem;
  }
  .header .wrapper-header .box-btn-login .btn-login .txt-nav {
    display: none;
  }
  .header .wrapper-header .box-btn-login ul {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .header .wrapper-header {
    height: 60px;
  }
  .header .wrapper-header .search {
    width: 30rem;
  }
  .header .wrapper-header .search .search-input {
    height: 40px;
  }
  .header .wrapper-header .nav {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .header .wrapper-header {
    height: 50px;
  }
  .header .wrapper-header .search {
    width: 20rem;
  }
  .header .wrapper-header .search .search-input {
    height: 35px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 575.98px) {
  .header .wrapper-header {
    height: 50px;
    gap: 5px;
  }
  .header .wrapper-header .wrapper-bar {
    margin-left: 0;
    gap: 10px;
  }
  .header .wrapper-header .wrapper-bar .btn-bar i {
    font-size: 1rem;
  }
  .header .wrapper-header .search {
    width: 12rem;
  }
  .header .wrapper-header .search .search-input {
    height: 25px;
    font-size: 0.8rem;
  }
  .header .wrapper-header .search .icon-search {
    font-size: 1rem;
  }
  .header .wrapper-header .box-btn-login {
    margin-right: 10px;
  }
  .header .wrapper-header .box-btn-login .btn-login i {
    font-size: 1rem;
  }
}
.footer .wrapper-footer .container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.footer .wrapper-footer .container .row {
  font-size: 0.9rem;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-introduce {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-introduce h4 {
  font-weight: 600;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-introduce ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  gap: 10px;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-policy {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-policy h4 {
  font-weight: 600;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-policy ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  gap: 10px;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-info {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-info h4 {
  font-weight: 600;
}
.footer .wrapper-footer .container .row .col-6 .row .col-4 .nav-info ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  gap: 10px;
}
.footer .wrapper-footer .container .row .col-6 .row .col-5 .hotline-support {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer .wrapper-footer .container .row .col-6 .row .col-5 .hotline-support h4 {
  font-weight: 600;
}
.footer .wrapper-footer .container .row .col-6 .row .col-5 .hotline-support h4 span {
  font-size: 0.8rem;
  font-weight: 400;
}
.footer .wrapper-footer .container .row .col-6 .row .col-5 .hotline-support ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  gap: 10px;
}
.footer .wrapper-footer .container .row .col-6 .row .col-5 .hotline-support ul li span {
  font-weight: 600;
  color: rgb(98, 98, 255);
}
.footer .wrapper-footer .container .row .col-6 .row .col-7 .row .col-12 .item h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
.footer .wrapper-footer .container .row .col-6 .row .col-7 .row .col-12 .item ul li {
  display: inline-block;
  width: 32%;
}
.footer .wrapper-footer .container .row .col-6 .row .col-7 .row .col-12 .item ul li img {
  width: 100%;
}
.footer .wrapper-footer .container .row .col-6 .row .col-7 .row .col-12 .payment-method h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
.footer .wrapper-footer .container .row .col-6 .row .col-7 .row .col-12 .payment-method ul li {
  display: inline-block;
  width: 32%;
}
.footer .wrapper-footer .container .row .col-6 .row .col-7 .row .col-12 .payment-method ul li img {
  width: 100%;
}
.footer .wrapper-footer .container .row-bottom {
  border-top: 1px solid black;
}
.footer .wrapper-footer .container .row-bottom .col-12 .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .wrapper-footer .container .row-bottom .col-12 .item .notarization {
  display: inline-block;
  width: 12%;
}
.footer .wrapper-footer .container .row-bottom .col-12 .item .notarization img {
  width: 100%;
}
.footer .wrapper-footer .container .row-bottom .col-12 .item .external-links {
  display: flex;
  gap: 20px;
}
.footer .wrapper-footer .container .row-bottom .col-12 .item .external-links h4 {
  font-weight: 600;
}
.footer .wrapper-footer .container .row-bottom .col-12 .item .external-links ul {
  display: flex;
  gap: 10px;
}
.footer .wrapper-footer .container .row-bottom .col-12 .item .external-links ul li a .fa-youtube {
  color: red;
}
.footer .wrapper-footer .container .row-bottom .col-12 .item .external-links ul li a .fa-facebook {
  color: rgb(76, 76, 249);
}
.footer .wrapper-footer .container .row-bottom .col-12 .item .external-links ul li .fa-twitter {
  color: rgb(76, 76, 249);
}

.sub-header {
  background-color: white;
  padding-top: 80px;
}
.sub-header .wrapper-sub-header {
  max-width: 1200px;
  margin: 0 auto;
}
.sub-header .wrapper-sub-header ul {
  display: flex;
  justify-content: center;
  gap: 2px;
}
.sub-header .wrapper-sub-header ul li {
  display: flex;
  align-items: center;
}
.sub-header .wrapper-sub-header ul li a {
  display: inline-block;
  font-size: 1rem;
  padding: 15px 20px;
  text-align: center;
}
.sub-header .wrapper-sub-header ul li a:hover {
  color: red;
}
.sub-header .wrapper-sub-header ul li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 70%;
  background-color: rgba(4, 4, 4, 0.484);
}
.sub-header .wrapper-sub-header ul li:nth-child(1)::before {
  content: "";
  width: 0;
}

@media screen and (max-width: 1199.98px) {
  .sub-header .wrapper-sub-header ul li a {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 991.98px) {
  .sub-header {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767.98px) {
  .sub-header {
    padding-top: 50px;
  }
  .sub-header .wrapper-sub-header {
    width: 100%;
    overflow: auto;
    scrollbar-width: none;
  }
  .sub-header .wrapper-sub-header ul li a {
    padding: 5px 10px;
    min-width: 150px;
    display: inline-block;
  }
}
.section-slide .container .side-bar {
  background-color: white;
  margin-right: 10px;
  border-radius: 6px;
}
.section-slide .container .side-bar ul {
  display: flex;
  flex-direction: column;
}
.section-slide .container .side-bar ul li {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-slide .container .side-bar ul li a {
  font-size: 1rem;
  padding: 8px 10px;
}
.section-slide .container .side-bar ul li span {
  font-size: 0.9rem;
  font-weight: 800;
}
.section-slide .container .side-bar ul li:hover {
  background-color: red;
  color: white;
}
.section-slide .container .side-bar ul li:hover a {
  color: white;
}
.section-slide .container .slides {
  position: relative;
}
.section-slide .container .slides .carousel-inner .wrapper-slide .slide img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.section-slide .container .slides .carousel-inner .moves {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 25%;
  width: 50%;
}
.section-slide .container .slides .carousel-inner .moves .item-move {
  width: 20%;
  height: 6px;
  border: 0.6px solid red;
  border-radius: 99px;
  background-color: white;
}
.section-slide .container .slides .control {
  width: 100%;
  position: absolute;
  top: 46%;
  display: flex;
  justify-content: space-between;
}
.section-slide .container .slides .control .prev {
  margin-left: 20px;
}
.section-slide .container .slides .control .next {
  margin-right: 20px;
}
.section-slide .container .hot-sale a {
  display: inline-block;
}
.section-slide .container .hot-sale a img {
  width: 100%;
}
.section-slide .container .hot-sales {
  display: none;
}

@media screen and (max-width: 1199.98px) {
  .section-slide .container .side-bar {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .section-slide .container .hot-sale {
    display: none;
  }
  .section-slide .container .hot-sales {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
  }
  .section-slide .container .hot-sales .hot-sale {
    display: inline-block;
    min-width: 250px;
  }
  .section-slide .container .hot-sales .hot-sale a {
    width: 100%;
  }
  .section-slide .container .hot-sales .hot-sale a img {
    width: 100%;
  }
}
@media screen and (max-width: 575.98px) {
  .section-slide .container .hot-sale {
    display: none;
  }
  .section-slide .container .hot-sales {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
  }
  .section-slide .container .hot-sales .hot-sale {
    display: inline-block;
    min-width: 130px;
  }
  .section-slide .container .hot-sales .hot-sale a {
    width: 100%;
  }
  .section-slide .container .hot-sales .hot-sale a img {
    width: 100%;
  }
}
.section-banner .container .row .col-6 .item a img {
  width: 100%;
}
.section-banner .container .row .col-8 .item a img {
  width: 100%;
  border-radius: 5px;
}
.section-banner .container .row .col-4 .row .col-12 .item {
  margin-bottom: 10px;
}
.section-banner .container .row .col-4 .row .col-12 .item a img {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 991.98px) {
  .section-banner .container {
    background-color: white;
    padding: 10px;
  }
  .section-banner .container .row {
    margin-bottom: -20px;
  }
  .section-banner .container .row .col-8 .item {
    margin-top: 20px;
  }
  .section-banner .container .row .col-4 .row .col-12 .item {
    margin-bottom: 20px;
  }
}
.section-collection .container {
  background-color: white;
}
.section-collection .container .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.section-collection .container .section-heading .left {
  display: flex;
}
.section-collection .container .section-heading .left h2::after {
  display: inline-block;
  content: "";
  width: 2px;
  height: 50%;
  background-color: black;
}
.section-collection .container .section-heading .left h2 a {
  font-size: 1.6rem;
  color: rgb(41, 41, 41);
  padding: 10px 15px;
}
.section-collection .container .section-heading .left h2 a:hover {
  color: red;
}
.section-collection .container .section-heading .left h3 {
  display: inline-block;
  font-size: 1.15rem;
  font-weight: 700;
  padding: 10px 15px;
}
.section-collection .container .section-heading .left h3 i {
  color: red;
}
.section-collection .container .section-heading .right ul {
  display: inline-flex;
  gap: 5px;
}
.section-collection .container .section-heading .right ul li a {
  font-size: 1.15rem;
  padding: 10px;
  color: black;
}
.section-collection .container .section-heading .right ul li a:hover {
  color: red;
}
.section-collection .container .section-heading .right ul li .all {
  color: rgb(68, 68, 248);
}
.section-collection .container .section-heading .right ul li .all:hover {
  color: red;
}
.section-collection .container .section-heading .right a {
  color: rgb(68, 68, 248);
  font-size: 1.15rem;
}
.section-collection .container .section-heading .right a:hover {
  color: red;
}
.section-collection .container .section-content {
  padding: 10px 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  overflow: auto;
  scrollbar-width: none;
}
.section-collection .container .section-content .item {
  min-width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0.8px solid rgb(199, 199, 199);
  padding: 15px 10px;
  box-shadow: 2px 2px 6px 4px rgb(125, 125, 125);
}
.section-collection .container .section-content .item .img-product {
  padding: 10px;
}
.section-collection .container .section-content .item .img-product a img {
  width: 100%;
}
.section-collection .container .section-content .item .detail-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.section-collection .container .section-content .item .detail-product h3 a {
  display: inline-block;
  font-size: 1.3rem;
  min-height: 50px;
  font-weight: 600;
}
.section-collection .container .section-content .item .detail-product h3 a:hover {
  color: red;
}
.section-collection .container .section-content .item .detail-product .information {
  width: 100%;
  background-color: rgb(199, 199, 199);
  padding: 8px;
  font-size: 0.88rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10%;
}
.section-collection .container .section-content .item .detail-product .price-original {
  text-decoration: line-through;
  font-size: 1.2rem;
}
.section-collection .container .section-content .item .detail-product .price-is-reduced {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.6rem;
  font-weight: 800;
  color: red;
}
.section-collection .container .section-content .item .detail-product .price-is-reduced .percent-discount {
  border: 1px solid red;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 5px;
  font-weight: 600;
}
.section-collection .container .section-content .item .detail-product .evaluate {
  font-size: 0.9rem;
  color: rgb(255, 213, 0);
}
.section-collection .container .section-content .item .detail-product .evaluate .number-of-reviews {
  color: black;
}
.section-collection .container .section-content .item-product {
  min-width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
}
.section-collection .container .section-content .item-product .img-product {
  padding: 10px;
}
.section-collection .container .section-content .item-product .img-product img {
  width: 90%;
}
.section-collection .container .section-content .item-product .name-category-product h3 {
  font-size: 1.2rem;
}

@media screen and (max-width: 1199.98px) {
  .section-collection .container .section-heading .left h2 a {
    font-size: 1.5rem;
  }
  .section-collection .container .section-heading .left h3 {
    font-size: 1rem;
  }
  .section-collection .container .section-heading .right {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: end;
  }
  .section-collection .container .section-heading .right ul {
    gap: 3px;
  }
  .section-collection .container .section-heading .right ul li a {
    font-size: 1rem;
    padding: 6px;
    color: black;
  }
  .section-collection .container .section-heading .right ul li .all {
    color: rgb(68, 68, 248);
  }
  .section-collection .container .section-heading .right a {
    color: rgb(68, 68, 248);
    font-size: 1rem;
  }
  .section-collection .container .section-content .item .detail-product h3 a {
    font-size: 1.2rem;
  }
  .section-collection .container .section-content .item .detail-product .information span {
    font-size: 0.8rem;
  }
  .section-collection .container .section-content .item .detail-product .price-original {
    font-size: 1rem;
  }
  .section-collection .container .section-content .item .detail-product .price-is-reduced {
    font-size: 1.4rem;
  }
  .section-collection .container .section-content .item .detail-product .price-is-reduced .percent-discount {
    font-size: 1rem;
  }
  .section-collection .container .section-content .item .detail-product .evaluate {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 991.98px) {
  .section-collection .container .section-heading .left h2 a {
    font-size: 1.3rem;
  }
  .section-collection .container .section-heading .left h2::after {
    display: none;
  }
  .section-collection .container .section-heading .left h3 {
    display: none;
  }
  .section-collection .container .section-heading .right {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: end;
  }
  .section-collection .container .section-heading .right ul {
    gap: 3px;
  }
  .section-collection .container .section-heading .right ul li a {
    font-size: 0.8rem;
    padding: 6px;
    color: black;
  }
  .section-collection .container .section-heading .right ul li .all {
    color: rgb(68, 68, 248);
  }
  .section-collection .container .section-heading .right a {
    color: rgb(68, 68, 248);
    font-size: 1rem;
  }
  .section-collection .container .section-content .item {
    min-width: 32%;
  }
  .section-collection .container .section-content .item .detail-product {
    gap: 8px;
  }
  .section-collection .container .section-content .item .detail-product h3 a {
    font-size: 1rem;
  }
  .section-collection .container .section-content .item .detail-product .information span {
    font-size: 0.8rem;
  }
  .section-collection .container .section-content .item .detail-product .price-original {
    font-size: 0.8rem;
  }
  .section-collection .container .section-content .item .detail-product .price-is-reduced {
    font-size: 1.2rem;
  }
  .section-collection .container .section-content .item .detail-product .price-is-reduced .percent-discount {
    font-size: 0.8rem;
  }
  .section-collection .container .section-content .item .detail-product .evaluate {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 575.98px) {
  .section-collection .container .section-heading .left h2 a {
    font-size: 1.3rem;
  }
  .section-collection .container .section-heading .left h2::after {
    display: none;
  }
  .section-collection .container .section-heading .left h3 {
    display: none;
  }
  .section-collection .container .section-heading .right {
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: end;
  }
  .section-collection .container .section-heading .right ul {
    gap: 3px;
  }
  .section-collection .container .section-heading .right ul li a {
    font-size: 0.8rem;
    padding: 6px;
    color: black;
  }
  .section-collection .container .section-heading .right ul li .all {
    color: rgb(68, 68, 248);
  }
  .section-collection .container .section-heading .right a {
    color: rgb(68, 68, 248);
    font-size: 1rem;
  }
  .section-collection .container .section-content .item {
    min-width: 46%;
  }
  .section-collection .container .section-content .item .detail-product {
    gap: 8px;
  }
  .section-collection .container .section-content .item .detail-product h3 a {
    font-size: 1rem;
  }
  .section-collection .container .section-content .item .detail-product .information span {
    font-size: 0.8rem;
  }
  .section-collection .container .section-content .item .detail-product .price-original {
    font-size: 0.8rem;
  }
  .section-collection .container .section-content .item .detail-product .price-is-reduced {
    font-size: 1.2rem;
  }
  .section-collection .container .section-content .item .detail-product .price-is-reduced .percent-discount {
    font-size: 0.8rem;
  }
  .section-collection .container .section-content .item .detail-product .evaluate {
    font-size: 0.6rem;
  }
}
.section-promotion .container {
  background-color: white;
}
.section-promotion .container .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.section-promotion .container .section-heading .left {
  display: flex;
}
.section-promotion .container .section-heading .left h2 a {
  font-size: 1.6rem;
  color: rgb(41, 41, 41);
  padding: 10px 15px;
}
.section-promotion .container .section-heading .left h2 a:hover {
  color: red;
}
.section-promotion .container .section-heading .left h3 {
  display: inline-block;
  font-size: 1.15rem;
  font-weight: 700;
  padding: 10px 15px;
}
.section-promotion .container .section-heading .left h3 i {
  color: red;
}
.section-promotion .container .section-heading .right a {
  color: rgb(68, 68, 248);
  font-size: 1.15rem;
}
.section-promotion .container .section-heading .right a:hover {
  color: red;
}
.section-promotion .container .section-content {
  padding: 20px;
}
.section-promotion .container .section-content .row .col-3 .item a img {
  width: 100%;
  border-radius: 3px;
}

.section-news .container {
  background-color: white;
}
.section-news .container .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.section-news .container .section-heading .left {
  display: flex;
}
.section-news .container .section-heading .left h2 a {
  font-size: 1.6rem;
  color: rgb(41, 41, 41);
  padding: 10px 15px;
}
.section-news .container .section-heading .left h2 a:hover {
  color: red;
}
.section-news .container .section-heading .left h3 {
  display: inline-block;
  font-size: 1.15rem;
  font-weight: 700;
  padding: 10px 15px;
}
.section-news .container .section-heading .left h3 i {
  color: red;
}
.section-news .container .section-heading .right a {
  color: rgb(68, 68, 248);
  font-size: 1.15rem;
}
.section-news .container .section-heading .right a:hover {
  color: red;
}
.section-news .container .section-content {
  padding: 20px;
}
.section-news .container .section-content .row .col-3 .item a {
  font-size: 1rem;
}
.section-news .container .section-content .row .col-3 .item a:hover {
  color: red;
}
.section-news .container .section-content .row .col-3 .item a img {
  width: 100%;
  border-radius: 3px;
}

.main .container .detail-collection .header-detail-collection {
  margin-bottom: 20px;
}
.main .container .detail-collection .header-detail-collection a img {
  width: 100%;
  border-radius: 8px;
}
.main .container .detail-collection .collection-wrap {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
.main .container .detail-collection .collection-wrap .filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.main .container .detail-collection .collection-wrap .filter .left .filter-all .title-filter-all {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 5px;
  border: 0.8px solid rgb(104, 104, 104);
  border-radius: 4px;
}
.main .container .detail-collection .collection-wrap .filter .left .filter-all .box-filter-all {
  display: none;
}
.main .container .detail-collection .collection-wrap .filter .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.main .container .detail-collection .collection-wrap .filter .right select {
  padding: 5px;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0.8px solid rgb(199, 199, 199);
  padding: 15px 10px;
  box-shadow: 2px 2px 6px 4px rgb(125, 125, 125);
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .img-product {
  padding: 10px;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .img-product a img {
  width: 100%;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product h3 a {
  font-size: 0.9rem;
  font-weight: 700;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product h3 a:hover {
  color: red;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .information {
  width: 100%;
  background-color: rgb(199, 199, 199);
  padding: 8px;
  font-size: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10%;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .price-original {
  text-decoration: line-through;
  font-size: 0.6rem;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .price-is-reduced {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  font-weight: 800;
  color: red;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .price-is-reduced .percent-discount {
  border: 1px solid red;
  border-radius: 3px;
  font-size: 0.6rem;
  padding: 5px;
  font-weight: 600;
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .evaluate {
  font-size: 0.5rem;
  font-weight: 600;
  color: rgb(255, 183, 0);
}
.main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .evaluate .number-of-reviews {
  color: black;
}

@media screen and (max-width: 767.98px) {
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .box-filter-all {
    display: none;
  }
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .title-filter-all {
    font-size: 1rem;
  }
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .check-filter-all:checked ~ .box-filter-all {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    background-color: rgb(179, 235, 245);
    margin-top: 10px;
    padding: 0px 5px 20px;
    border-radius: 6px;
    width: 100%;
    font-size: 0.9rem;
  }
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .check-filter-all:checked ~ .box-filter-all .btn-filter-all {
    display: inline-block;
    border: 0.6px solid rgb(166, 166, 166);
    width: 25px;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5px;
    background-color: rgb(120, 120, 120);
    border-radius: 3px;
  }
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .check-filter-all:checked ~ .box-filter-all .wrapper-filter-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .check-filter-all:checked ~ .box-filter-all .filter-item select option {
    display: inline-block;
  }
  .main .container .detail-collection .collection-wrap .filter .right {
    display: none;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product {
    gap: 5px;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product h3 {
    line-height: 10px;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product h3 a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 575.98px) {
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .title-filter-all {
    font-size: 0.6rem;
  }
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .check-filter-all:checked ~ .box-filter-all .btn-filter-all {
    font-size: 0.6rem;
    width: 15px;
    padding: 5px;
  }
  .main .container .detail-collection .collection-wrap .filter .left .filter-all .check-filter-all:checked ~ .box-filter-all .wrapper-filter-item .filter-item select {
    font-size: 0.5rem;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product h3 {
    line-height: 6px;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product h3 a {
    font-size: 0.5rem;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .information span {
    font-size: 0.35rem;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .price-original {
    font-size: 0.4rem;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .price-is-reduced {
    font-size: 0.6rem;
    gap: 5px;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .price-is-reduced .percent-discount {
    font-size: 0.35rem;
    padding: 2px;
  }
  .main .container .detail-collection .collection-wrap .collection .row .col-3 .item .detail-product .evaluate {
    font-size: 0.35rem;
  }
}
.detail-product {
  margin-top: 20px;
}
.detail-product .container .row .col-12 .product-main {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}
.detail-product .container .row .col-12 .product-main .row .col-5 .slides-img-product {
  position: relative;
}
.detail-product .container .row .col-12 .product-main .row .col-5 .slides-img-product .carousel-inner .wrapper-slide-img .slide-img {
  display: block;
}
.detail-product .container .row .col-12 .product-main .row .col-5 .slides-img-product .carousel-inner .wrapper-slide-img .slide-img img {
  width: 100%;
  border-radius: 6px;
}
.detail-product .container .row .col-12 .product-main .row .col-5 .slides-img-product .carousel-inner .moves-img {
  display: flex;
}
.detail-product .container .row .col-12 .product-main .row .col-5 .slides-img-product .carousel-inner .moves-img .item-move-img {
  width: 20%;
}
.detail-product .container .row .col-12 .product-main .row .col-5 .slides-img-product .carousel-inner .moves-img .item-move-img img {
  width: 100%;
}
.detail-product .container .row .col-12 .product-main .row .col-5 .slides-img-product .control {
  position: absolute;
  bottom: 7%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.detail-product .container .row .col-12 .product-main .row .col-5 .banner-promotion a img {
  width: 100%;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .result-feedback .result-evaluate {
  font-size: 1rem;
  color: rgb(250, 195, 42);
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .result-feedback .nav-feedback a {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(21, 115, 255);
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .result-feedback .nav-feedback a:hover {
  text-decoration: underline;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .price-original {
  font-size: 1.1rem;
  color: rgb(131, 131, 131);
  text-decoration: line-through;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .price-is-reduced {
  font-size: 2rem;
  font-weight: 700;
  color: red;
  display: flex;
  align-items: center;
  gap: 15px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .price-is-reduced .percent-discount {
  font-size: 0.8rem;
  padding: 5px;
  border: 0.8px solid red;
  border-radius: 3px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .gift .title-gift {
  font-size: 1.2rem;
  background-color: rgb(255, 219, 219);
  padding: 15px 20px;
  color: red;
  font-weight: 600;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .gift .list-gift {
  padding: 15px 20px;
  font-size: 0.8rem;
  font-weight: 600;
  border: 0.5px solid rgb(255, 219, 219);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .gift .list-gift ul li {
  margin-bottom: 5px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .gift .list-gift ul li span {
  color: red;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .select .select-buy {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: red;
  padding: 20px 40px;
  color: white;
  border-radius: 8px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .select .select-add-cart {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(255, 188, 72);
  padding: 20px 40px;
  color: white;
  border-radius: 8px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .benefit {
  font-size: 1.1rem;
  font-weight: 500;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .benefit ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .payment-support {
  font-size: 1.1rem;
  font-weight: 700;
  border-top: 0.6px solid rgb(190, 190, 190);
  color: red;
  padding: 15px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .payment-support a {
  color: rgb(62, 123, 255);
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .promotion .title-promotion {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 15px 20px;
  background-color: rgb(178, 178, 178);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .promotion .list-promotion {
  font-size: 0.9rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 0.4px solid rgb(207, 207, 207);
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .promotion .list-promotion ul li {
  padding: 5px 20px;
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .promotion .list-promotion ul li::before {
  content: "";
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-right: 5px;
  display: inline-block;
  background-image: url("../../imgs/v-xanh.svg");
}
.detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .promotion .list-promotion ul li a {
  color: rgb(62, 123, 255);
}
.detail-product .container .row .col-12 .wrapper-feedbacks {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}
.detail-product .container .row .col-12 .wrapper-feedbacks h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: red;
  margin-bottom: 20px;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left {
  width: 30%;
  text-align: center;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left .result-evaluate {
  font-size: 2.4rem;
  color: red;
  font-weight: 500;
  margin-bottom: 10px;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left .result-feedbacks {
  font-size: 0.9rem;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left .result-feedbacks span {
  font-weight: 500;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right {
  width: 40%;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate span {
  color: black;
  font-size: 0.9rem;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate span i {
  color: rgb(255, 222, 35);
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate .percent {
  width: 60%;
  height: 10px;
  background-color: rgb(214, 214, 214);
  border-radius: 99px;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate .quantity-evaluate {
  color: black;
  font-size: 0.9rem;
}
.detail-product .container .row .col-12 .wrapper-feedbacks .btn-input-feedback {
  width: 50%;
  margin: 20px auto 0;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 10px 20px;
  background-color: rgb(94, 137, 255);
  text-align: center;
  border-radius: 99px;
}
.detail-product .container .row .col-7 .wrapper-specifications {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
.detail-product .container .row .col-7 .wrapper-specifications h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: red;
}
.detail-product .container .row .col-7 .wrapper-specifications table {
  border: 0.6px solid rgb(150, 150, 150);
}
.detail-product .container .row .col-7 .wrapper-specifications table thead tr th {
  padding: 6px;
  font-size: 1.4rem;
  font-weight: 600;
  border: 0.6px solid rgb(150, 150, 150);
}
.detail-product .container .row .col-7 .wrapper-specifications table tbody tr .specifications {
  padding: 6px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(75, 150, 255);
  border: 0.6px solid rgb(150, 150, 150);
}
.detail-product .container .row .col-7 .wrapper-specifications table tbody tr .info {
  padding: 6px;
  border: 0.6px solid rgb(150, 150, 150);
}
.detail-product .container .row .col-7 .wrapper-specifications table tbody tr .info p {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.1rem;
}
.detail-product .container .row .col-5 .similar-products {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.detail-product .container .row .col-5 .similar-products h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: red;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product {
  display: flex;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .img-product {
  width: 35%;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .img-product img {
  width: 100%;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product h3 {
  font-size: 0.85rem;
  font-weight: 500;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .price-original {
  font-size: 0.75rem;
  text-decoration: line-through;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .price-is-reduced {
  font-size: 1rem;
  font-weight: 600;
  color: red;
  display: flex;
  align-items: center;
  gap: 6px;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .price-is-reduced .percent-discount {
  padding: 3px;
  font-size: 0.6rem;
  border: 0.4px solid red;
  border-radius: 2px;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .result-feedback {
  font-size: 0.6rem;
}
.detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .result-feedback .result-evaluate {
  color: rgb(255, 183, 50);
  font-weight: 600;
}
.detail-product .container .row .col-5 .box-news {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
}
.detail-product .container .row .col-5 .box-news h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: red;
}
.detail-product .container .row .col-5 .box-news .wrapper-news {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.detail-product .container .row .col-5 .box-news .wrapper-news .item-news {
  display: flex;
  gap: 5px;
}
.detail-product .container .row .col-5 .box-news .wrapper-news .item-news .img-news {
  width: 30%;
}
.detail-product .container .row .col-5 .box-news .wrapper-news .item-news .img-news img {
  width: 100%;
}
.detail-product .container .row .col-5 .box-news .wrapper-news .item-news h3 {
  font-size: 0.95rem;
  font-weight: 500;
}

@media screen and (max-width: 991.98px) {
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product {
    display: flex;
    gap: 10px;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product {
    flex-direction: column;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .img-product {
    width: 100%;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .img-product img {
    width: 100%;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product {
    padding: 5px;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product h3 {
    font-size: 1rem;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .price-is-reduced {
    font-size: 1.2rem;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .result-feedback {
    font-size: 0.7rem;
  }
  .detail-product .container .row .col-5 .box-news .wrapper-news {
    gap: 10px;
  }
  .detail-product .container .row .col-5 .box-news .wrapper-news .item-news {
    gap: 20px;
  }
  .detail-product .container .row .col-5 .box-news .wrapper-news .item-news .img-news {
    width: 25%;
  }
  .detail-product .container .row .col-5 .box-news .wrapper-news .item-news h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767.98px) {
  .detail-product .container .row .col-12 .wrapper-feedbacks h2 {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate {
    gap: 15px;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left {
    width: 30%;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left .result-evaluate {
    font-size: 1.6rem;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left .result-feedbacks {
    font-size: 0.6rem;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right {
    width: 50%;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate span {
    color: black;
    font-size: 0.6rem;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate span i {
    color: rgb(255, 222, 35);
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate .percent {
    width: 50%;
    height: 8px;
    background-color: rgb(214, 214, 214);
    border-radius: 99px;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate .quantity-evaluate {
    color: black;
    font-size: 0.6rem;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .btn-input-feedback {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 575.98px) {
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product {
    gap: 10px;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product h1 {
    font-size: 1.3rem;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .result-feedback .result-evaluate {
    font-size: 0.9rem;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .price-original {
    font-size: 0.9rem;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .price-is-reduced {
    font-size: 1.3rem;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .price-is-reduced .percent-discount {
    font-size: 0.6rem;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .gift .title-gift {
    font-size: 1.1rem;
    padding: 10px;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .gift .list-gift {
    font-size: 0.85rem;
    padding: 15px;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .select {
    font-size: 0.9rem;
    font-weight: 500;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .select .select-buy {
    width: 90%;
    padding: 15px 20px;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .select .select-add-cart {
    width: 90%;
    padding: 15px 20px;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .benefit ul li {
    font-size: 0.9rem;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .payment-support {
    font-size: 1rem;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .promotion .title-promotion {
    font-size: 1.1rem;
    padding: 10px;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .promotion .list-promotion ul li {
    padding: 10px 15px;
    gap: 3px;
    font-size: 0.8rem;
  }
  .detail-product .container .row .col-12 .product-main .row .col-7 .desc-product .promotion .list-promotion ul li a {
    display: inline-block;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks h2 {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate {
    gap: 15px;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left {
    width: 30%;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left .result-evaluate {
    font-size: 1.1rem;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-left .result-feedbacks {
    font-size: 0.5rem;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right {
    width: 60%;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate span {
    color: black;
    font-size: 0.5rem;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate span i {
    color: rgb(255, 222, 35);
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate .percent {
    width: 50%;
    height: 6px;
    background-color: rgb(214, 214, 214);
    border-radius: 99px;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .wrapper-box-result-evaluate .box-result-evaluate-right .wrapper-percent .row-percent-evaluate .quantity-evaluate {
    color: black;
    font-size: 0.5rem;
  }
  .detail-product .container .row .col-12 .wrapper-feedbacks .btn-input-feedback {
    font-size: 0.6rem;
  }
  .detail-product .container .row .col-5 .similar-products h2 {
    font-size: 1.1rem;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product {
    flex-direction: row;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .img-product {
    width: 35%;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .img-product img {
    width: 100%;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product {
    padding: 5px;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product h3 {
    font-size: 0.8rem;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .price-is-reduced {
    font-size: 0.9rem;
  }
  .detail-product .container .row .col-5 .similar-products .wrapper-similar-product .similar-product .info-product .result-feedback {
    font-size: 0.5rem;
  }
  .detail-product .container .row .col-5 .box-news h2 {
    font-size: 1.1rem;
  }
  .detail-product .container .row .col-5 .box-news .wrapper-news {
    gap: 5px;
  }
  .detail-product .container .row .col-5 .box-news .wrapper-news .item-news {
    gap: 10px;
  }
  .detail-product .container .row .col-5 .box-news .wrapper-news .item-news .img-news {
    width: 30%;
  }
  .detail-product .container .row .col-5 .box-news .wrapper-news .item-news h3 {
    font-size: 0.75rem;
  }
}
html {
  font-size: 62, 5%;
}

body {
  font-size: 1.6rem;
  background-color: rgb(230, 230, 230);
}

.main {
  margin: 20px;
}
.main .section {
  margin: 10px auto;
}
.main .section-slide .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar slides slides hot-sale-1" "sidebar slides slides hot-sale-2" "sidebar hot-sale-5 hot-sale-4 hot-sale-3";
}
.main .section-slide .side-bar {
  grid-area: sidebar;
}
.main .section-slide .slides {
  grid-area: slides;
}
.main .section-slide .hot-sale-1 {
  grid-area: hot-sale-1;
}
.main .section-slide .hot-sale-2 {
  grid-area: hot-sale-2;
}
.main .section-slide .hot-sale-3 {
  grid-area: hot-sale-3;
}
.main .section-slide .hot-sale-4 {
  grid-area: hot-sale-4;
}
.main .section-slide .hot-sale-5 {
  grid-area: hot-sale-5;
}

@media screen and (max-width: 1199.98px) {
  .main .section-slide .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767.98px) {
  .main .section-slide .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: " slides slides slides " " slides slides slides " " hot-sales hot-sales hot-sales";
  }
  .main .section-slide .slides {
    grid-area: slides;
  }
  .main .section-slide .hot-sales {
    grid-area: hot-sales;
  }
}

/*# sourceMappingURL=style.css.map */
