@use "../../partials/mixin";
.section-banner {
  .container {
    .row {
      .col-6 {
        .item {
          a {
            img {
              width: 100%;
            }
          }
        }
      }
      .col-8 {
        .item {
          a {
            img {
              width: 100%;
              border-radius: 5px;
            }
          }
        }
      }
      .col-4 {
        .row {
          .col-12 {
            .item {
              margin-bottom: 10px;
              a {
                img {
                  width: 100%;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mixin.miniPc-device {
  .section-banner {
    .container {
      background-color: white;
      padding: 10px;
      .row {
        margin-bottom: -20px;
        .col-8 {
          .item {
            margin-top: 20px;
          }
        }
        .col-4 {
          .row {
            .col-12 {
              .item {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}
