// File chứa các class thường sử dụng trong css
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
