@use "../partials/mixin";

.detail-product {
  margin-top: 20px;
  .container {
    .row {
      .col-12 {
        .product-main {
          padding: 10px;
          background-color: white;
          border-radius: 8px;
          .row {
            .col-5 {
              .slides-img-product {
                position: relative;
                .carousel-inner {
                  .wrapper-slide-img {
                    .slide-img {
                      display: block;
                      img {
                        width: 100%;
                        border-radius: 6px;
                      }
                    }
                  }
                  .moves-img {
                    display: flex;
                    .item-move-img {
                      width: 20%;
                      img {
                        width: 100%;
                      }
                    }
                  }
                }
                .control {
                  position: absolute;
                  bottom: 7%;
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                }
              }
              .banner-promotion {
                a {
                  img {
                    width: 100%;
                  }
                }
              }
            }
            .col-7 {
              .desc-product {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h1 {
                  font-size: 1.5rem;
                  font-weight: 600;
                }
                .result-feedback {
                  .result-evaluate {
                    font-size: 1rem;
                    color: rgb(250, 195, 42);
                  }
                  .nav-feedback {
                    a {
                      font-size: 1rem;
                      font-weight: 500;
                      color: rgb(21, 115, 255);
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
                .price-original {
                  font-size: 1.1rem;
                  color: rgb(131, 131, 131);
                  text-decoration: line-through;
                }
                .price-is-reduced {
                  font-size: 2rem;
                  font-weight: 700;
                  color: red;
                  display: flex;
                  align-items: center;
                  gap: 15px;
                  .percent-discount {
                    font-size: 0.8rem;
                    padding: 5px;
                    border: 0.8px solid red;
                    border-radius: 3px;
                  }
                }
                .gift {
                  .title-gift {
                    font-size: 1.2rem;
                    background-color: rgb(255, 219, 219);
                    padding: 15px 20px;
                    color: red;
                    font-weight: 600;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                  }
                  .list-gift {
                    padding: 15px 20px;
                    font-size: 0.8rem;
                    font-weight: 600;
                    border: 0.5px solid rgb(255, 219, 219);
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                    ul {
                      li {
                        margin-bottom: 5px;
                        span {
                          color: red;
                        }
                      }
                    }
                  }
                }
                .select {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 30px;
                  margin-bottom: 10px;
                  .select-buy {
                    font-size: 1.2rem;
                    font-weight: 600;
                    background-color: red;
                    padding: 20px 40px;
                    color: white;
                    border-radius: 8px;
                  }
                  .select-add-cart {
                    font-size: 1.2rem;
                    font-weight: 600;
                    background-color: rgb(255, 188, 72);
                    padding: 20px 40px;
                    color: white;
                    border-radius: 8px;
                  }
                }
                .benefit {
                  font-size: 1.1rem;
                  font-weight: 500;
                  ul {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                  }
                }
                .payment-support {
                  font-size: 1.1rem;
                  font-weight: 700;
                  border-top: 0.6px solid rgb(190, 190, 190);
                  color: red;
                  padding: 15px;
                  a {
                    color: rgb(62, 123, 255);
                  }
                }
                .promotion {
                  .title-promotion {
                    font-size: 1.1rem;
                    font-weight: 700;
                    padding: 15px 20px;
                    background-color: rgb(178, 178, 178);
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                  }
                  .list-promotion {
                    font-size: 0.9rem;
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                    border: 0.4px solid rgb(207, 207, 207);
                    ul {
                      li {
                        padding: 5px 20px;
                        &::before {
                          content: "";
                          border-radius: 50%;
                          height: 16px;
                          width: 16px;
                          margin-right: 5px;
                          display: inline-block;
                          background-image: url("../../imgs/v-xanh.svg");
                        }
                        a {
                          color: rgb(62, 123, 255);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .wrapper-feedbacks {
          padding: 10px;
          background-color: white;
          border-radius: 8px;
          h2 {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: red;
            margin-bottom: 20px;
          }
          .wrapper-box-result-evaluate {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .box-result-evaluate-left {
              width: 30%;
              text-align: center;
              .result-evaluate {
                font-size: 2.4rem;
                color: red;
                font-weight: 500;
                margin-bottom: 10px;
              }
              .result-feedbacks {
                font-size: 0.9rem;
                span {
                  font-weight: 500;
                }
              }
            }
            .box-result-evaluate-right {
              width: 40%;
              .wrapper-percent {
                display: flex;
                flex-direction: column;
                gap: 8px;
                .row-percent-evaluate {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  span {
                    color: black;
                    font-size: 0.9rem;
                    i {
                      color: rgb(255, 222, 35);
                    }
                  }
                  .percent {
                    width: 60%;
                    height: 10px;
                    background-color: rgb(214, 214, 214);
                    border-radius: 99px;
                  }
                  .quantity-evaluate {
                    color: black;
                    font-size: 0.9rem;
                  }
                }
              }
            }
          }
          .btn-input-feedback {
            width: 50%;
            margin: 20px auto 0;
            font-size: 1rem;
            color: white;
            font-weight: 500;
            padding: 10px 20px;
            background-color: rgb(94, 137, 255);
            text-align: center;
            border-radius: 99px;
          }
        }
      }
      .col-7 {
        .wrapper-specifications {
          background-color: white;
          padding: 20px;
          border-radius: 8px;
          h2 {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: red;
          }
          table {
            border: 0.6px solid rgb(150, 150, 150);
            thead {
              tr {
                th {
                  padding: 6px;
                  font-size: 1.4rem;
                  font-weight: 600;
                  border: 0.6px solid rgb(150, 150, 150);
                }
              }
            }
            tbody {
              tr {
                .specifications {
                  padding: 6px;
                  text-align: center;
                  font-size: 1rem;
                  font-weight: 600;
                  color: rgb(75, 150, 255);
                  border: 0.6px solid rgb(150, 150, 150);
                }
                .info {
                  padding: 6px;
                  border: 0.6px solid rgb(150, 150, 150);
                  p {
                    text-align: left;
                    font-size: 0.9rem;
                    line-height: 1.1rem;
                  }
                }
              }
            }
          }
        }
      }
      .col-5 {
        .similar-products {
          background-color: white;
          padding: 15px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          h2 {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: red;
          }
          .wrapper-similar-product {
            .similar-product {
              display: flex;
              .img-product {
                width: 35%;
                img {
                  width: 100%;
                }
              }
              .info-product {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                h3 {
                  font-size: 0.85rem;
                  font-weight: 500;
                }
                .price-original {
                  font-size: 0.75rem;
                  text-decoration: line-through;
                }
                .price-is-reduced {
                  font-size: 1rem;
                  font-weight: 600;
                  color: red;
                  display: flex;
                  align-items: center;
                  gap: 6px;
                  .percent-discount {
                    padding: 3px;
                    font-size: 0.6rem;
                    border: 0.4px solid red;
                    border-radius: 2px;
                  }
                }
                .result-feedback {
                  font-size: 0.6rem;
                  .result-evaluate {
                    color: rgb(255, 183, 50);
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
        .box-news {
          background-color: white;
          padding: 15px;
          border-radius: 8px;
          margin-top: 20px;
          h2 {
            font-size: 1.4rem;
            font-weight: 600;
            margin-bottom: 10px;
            color: red;
          }
          .wrapper-news {
            display: flex;
            flex-direction: column;
            gap: 5px;
            .item-news {
              display: flex;
              gap: 5px;
              .img-news {
                width: 30%;
                img {
                  width: 100%;
                }
              }
              h3 {
                font-size: 0.95rem;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

@include mixin.miniPc-device {
  .detail-product {
    .container {
      .row {
        .col-5 {
          .similar-products {
            .wrapper-similar-product {
              display: flex;
              gap: 10px;
              .similar-product {
                flex-direction: column;
                .img-product {
                  width: 100%;
                  img {
                    width: 100%;
                  }
                }
                .info-product {
                  padding: 5px;
                  h3 {
                    font-size: 1rem;
                  }
                  .price-is-reduced {
                    font-size: 1.2rem;
                  }
                  .result-feedback {
                    font-size: 0.7rem;
                  }
                }
              }
            }
          }
          .box-news {
            .wrapper-news {
              gap: 10px;
              .item-news {
                gap: 20px;
                .img-news {
                  width: 25%;
                }
                h3 {
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include mixin.tablet-device {
  .detail-product {
    .container {
      .row {
        .col-12 {
          .wrapper-feedbacks {
            h2 {
              font-size: 1rem;
              margin-bottom: 15px;
            }
            .wrapper-box-result-evaluate {
              gap: 15px;
              .box-result-evaluate-left {
                width: 30%;
                .result-evaluate {
                  font-size: 1.6rem;
                }
                .result-feedbacks {
                  font-size: 0.6rem;
                }
              }
              .box-result-evaluate-right {
                width: 50%;
                .wrapper-percent {
                  .row-percent-evaluate {
                    span {
                      color: black;
                      font-size: 0.6rem;
                      i {
                        color: rgb(255, 222, 35);
                      }
                    }
                    .percent {
                      width: 50%;
                      height: 8px;
                      background-color: rgb(214, 214, 214);
                      border-radius: 99px;
                    }
                    .quantity-evaluate {
                      color: black;
                      font-size: 0.6rem;
                    }
                  }
                }
              }
            }
            .btn-input-feedback {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}

@include mixin.mobile-device {
  .detail-product {
    .container {
      .row {
        .col-12 {
          .product-main {
            .row {
              .col-7 {
                .desc-product {
                  gap: 10px;
                  h1 {
                    font-size: 1.3rem;
                  }
                  .result-feedback {
                    .result-evaluate {
                      font-size: 0.9rem;
                    }
                  }
                  .price-original {
                    font-size: 0.9rem;
                  }
                  .price-is-reduced {
                    font-size: 1.3rem;
                    .percent-discount {
                      font-size: 0.6rem;
                    }
                  }
                  .gift {
                    .title-gift {
                      font-size: 1.1rem;
                      padding: 10px;
                    }
                    .list-gift {
                      font-size: 0.85rem;
                      padding: 15px;
                    }
                  }
                  .select {
                    font-size: 0.9rem;
                    font-weight: 500;
                    flex-direction: column;
                    gap: 10px;
                    text-align: center;
                    .select-buy {
                      width: 90%;
                      padding: 15px 20px;
                    }
                    .select-add-cart {
                      width: 90%;
                      padding: 15px 20px;
                    }
                  }
                  .benefit {
                    ul {
                      li {
                        font-size: 0.9rem;
                      }
                    }
                  }
                  .payment-support {
                    font-size: 1rem;
                  }
                  .promotion {
                    .title-promotion {
                      font-size: 1.1rem;
                      padding: 10px;
                    }
                    .list-promotion {
                      ul {
                        li {
                          padding: 10px 15px;
                          gap: 3px;
                          font-size: 0.8rem;
                          a {
                            display: inline-block;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .wrapper-feedbacks {
            h2 {
              font-size: 0.9rem;
              margin-bottom: 15px;
            }
            .wrapper-box-result-evaluate {
              gap: 15px;
              .box-result-evaluate-left {
                width: 30%;
                .result-evaluate {
                  font-size: 1.1rem;
                }
                .result-feedbacks {
                  font-size: 0.5rem;
                }
              }
              .box-result-evaluate-right {
                width: 60%;
                .wrapper-percent {
                  .row-percent-evaluate {
                    span {
                      color: black;
                      font-size: 0.5rem;
                      i {
                        color: rgb(255, 222, 35);
                      }
                    }
                    .percent {
                      width: 50%;
                      height: 6px;
                      background-color: rgb(214, 214, 214);
                      border-radius: 99px;
                    }
                    .quantity-evaluate {
                      color: black;
                      font-size: 0.5rem;
                    }
                  }
                }
              }
            }
            .btn-input-feedback {
              font-size: 0.6rem;
            }
          }
        }
        .col-5 {
          .similar-products {
            h2 {
              font-size: 1.1rem;
            }
            .wrapper-similar-product {
              display: flex;
              flex-direction: column;
              gap: 5px;
              .similar-product {
                flex-direction: row;
                .img-product {
                  width: 35%;
                  img {
                    width: 100%;
                  }
                }
                .info-product {
                  padding: 5px;
                  h3 {
                    font-size: 0.8rem;
                  }
                  .price-is-reduced {
                    font-size: 0.9rem;
                  }
                  .result-feedback {
                    font-size: 0.5rem;
                  }
                }
              }
            }
          }
          .box-news {
            h2 {
              font-size: 1.1rem;
            }
            .wrapper-news {
              gap: 5px;
              .item-news {
                gap: 10px;
                .img-news {
                  width: 30%;
                }
                h3 {
                  font-size: 0.75rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
